<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>AlpineJS</title>
    <script src="alpinejs-3.12.0-min.js" defer></script>
    <script src="src.js"></script>
</head>

<body x-data="dataApp">

    <div x-data="{
  page: 7,
  metaData: [],
  semesterinfo: [],
  sd: [],
  ri: [],
  getSemesterInfo() {
    fetch('/semesterinfo')
      .then(response => response.json())
      .then(json => {
        this.semesterinfo = json.rows;
        console.log(this.semesterinfo);
      });
  },
  showDetails(semester, year) {
    fetch(`/showDetails/${semester}/${year}`)
      .then(response => response.json())
      .then(json => {
        this.sd = json.rows;
        this.metaData = json.metaData;
        console.log(this.sd);
        this.page = 8;
      });
  },

  getRecapInfo(recapid) {
    fetch(`/recapinfo/${recapid}`)
      .then(response => response.json())
      .then(json => {
        this.ri = json.rows;
        this.metaData = json.metaData;
        console.log(this.ri);
        this.page = 9;  
      });
}

}" x-init="getSemesterInfo()">
        <!-- Re-usable Data -->
        <div>
            <ul>
                <li><a href="#" @click="getData(1)">Student</a></li>
                <li><a href="#" @click="getData(2)">Recap</a></li>
                <li class="disabled"><a href="#" @click="getData(3)">Register</a></li>
                <li class="disabled"><a href="#" @click="getData(4)">Result</a></li>
                <li class="disabled"><a href="#" @click="getData(5)">Head</a></li>
                <li><a href="#" @click="getData(6)">Grade</a></li>
                <li><a href="#" @click="page=7">SemesterInfo</a></li>
            </ul>
        </div>
        <br />

        <div x-show="page === 1">
            <table>
                <tr>
                    <th>NAME</th>
                    <th>SID</th>
                </tr>
                <template x-for="student in data[key]">
                    <tr>
                        <template x-for="col in student">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 2">
            <table>
                <tr>
                    <th>SEMESTER</th>
                    <th>YEAR</th>
                    <th>COURSENAME</th>
                    <th>FACULTY</th>
                    <th>CLASS</th>
                    <th>RECAPID</th>
                    <th>UPDATE</th>
                </tr>
                <template x-for="recap in data[key]">
                    <tr>
                        <td x-text="recap[0]"></td>
                        <td x-text="recap[1]"></td>
                        <td x-text="recap[2]"></td>
                        <td x-text="recap[3]"></td>
                        <td x-text="recap[4]"></td>
                        <td x-text="recap[5]"></td>
                        <td><a href="#" @click="getRecapInfo(recap[5])">Edit</a></td>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 3">
            <table>
                <tr>
                    <th>REGID</th>
                    <th>SID</th>
                    <th>RECAPID</th>
                </tr>
                <template x-for="register in data[key]">
                    <tr>
                        <td x-text="register[0]"></td>
                        <td x-text="register[1]"></td>
                        <td x-text="register[2]"></td>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 4">
            <table>
                <tr>
                    <th>ID</th>
                    <th>OBTAIN</th>
                    <th>HID</th>
                    <th>SID</th>
                    <th>RECAPID</th>
                </tr>
                <template x-for="result in data[key]">
                    <tr>
                        <template x-for="col in result">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 5">
            <table>
                <tr>
                    <th>ID</th>
                    <th>HEADER</th>
                    <th>MARKS</th>
                    <th>HID</th>
                    <th>RECAPID</th>
                </tr>
                <template x-for="head in data[key]">
                    <tr>
                        <template x-for="col in head">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 6">
            <table>
                <tr>
                    <th>GID</th>
                    <th>GRADE</th>
                    <th>MIN</th>
                    <th>MAX</th>
                    <th>POINT</th>
                </tr>
                <template x-for="grade in data[key]">
                    <tr>
                        <template x-for="col in grade">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 7">
            <table>
                <tr>
                    <th>SEMESTER</th>
                    <th>YEAR</th>
                    <th>DETAIL</th>
                </tr>
                <template x-for="si in semesterinfo">
                    <tr>
                        <td x-text="si[0]"></td>
                        <td x-text="si[1]"></td>
                        <td><a href="#" @click="showDetails(si[0], si[1])">View</a></td>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 8">
            <table>
                <tr>
                    <th>SEMESTER</th>
                    <th>YEAR</th>
                    <th>COURSENAME</th>
                    <th>FACULTY</th>
                    <th>CLASS</th>
                    <th>REGISTERED</th>
                    <th>PASS</th>
                </tr>
                <template x-for="row in sd">
                    <tr>
                        <template x-for="col in row">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

        <div x-show="page === 9">
            <table>
                <tr>
                    <th>SEMESTER</th>
                    <th>YEAR</th>
                    <th>COURSENAME</th>
                    <th>FACULTY</th>
                    <th>CLASS</th>
                    <th>RECAPID</th>
                </tr>
                <template x-for="row in ri">
                    <tr>
                        <template x-for="col in row">
                            <td x-text="col"></td>
                        </template>
                    </tr>
                </template>
            </table>
        </div>

    </div>

</body>

</html>